.Rproj.user
.Rhistory
.RData

*.pper

.Rproj.user/C17431F9/sdb/s-E8DCB578/2CDD20E1

.Rproj.user/C17431F9/sdb/s-E8DCB578/54AC0219

.Rproj.user/C17431F9/sdb/s-E8DCB578/564B76D4

.Rproj.user/C17431F9/sdb/s-E8DCB578/lock_file

*.pper
